* {
  box-sizing: border-box;
}

body {
  color: #454242;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5625rem;
}

/* --- Main Header ---- */
.logo {
  width: 30%;
  padding-top: .3125rem;
  margin: auto;
}

.main-nav li,
.main-nav a {
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.main-nav a {
  text-align: center;
  padding: .3125rem;
  text-decoration: none;
}

/* --- Jumbotron --- */
#jumbotron {
  height: 22.5rem;
  background: url('../img/IMG_0273.JPG') no-repeat center;
  background-size: cover;
  text-align: center;
}

.tagline {
  color: #fff;
  padding-top: 6.25rem;
}

.tagline h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .0875rem;
  font-weight: 900;
  margin-top: 1.5625rem;
}

.tagline p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -.625rem;
}

.tagline a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: .75rem;
  letter-spacing: .075rem;
  text-decoration: none;
  border: .1875rem solid #fff;
  padding: .625rem;
}

.tagline a:hover {
  color: #454242;
  background: #fff;
}

/* --- Introduction --- */
#intro {
  padding: .9375rem 0;
}

#intro h2,
#intro p,
#about-us,
#university {
  text-align: center;
}

#intro p {
  color: #8a8a8a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* --- About Us --- */
#about-us,
#university {
  color: #fff;
  height: 15.625rem;
  padding-top: .9375rem;
}

#about-us {
  background-image: url('../img/praise-sm.jpg');
}

.a-btn {
  border: .125rem solid #fff;
  padding: .125rem .625rem;
  margin: 0 .125rem;
  display: inline-flex;
  max-width: 30%;
  margin-top: .9375rem;
}

.a-btn a {
  color: #fff;
  font-size: .6875rem;
  font-weight: 900;
  letter-spacing: .075rem;
  text-transform: uppercase;
  text-decoration: none;
}

.description-margin {
  margin-top: 2.5rem;
}

/* --- Ministries --- */
#ministries {
  padding-bottom: 1.5625rem;
}

#ministries h2,
#events h2 {
  border-bottom: .25rem solid #454242;
  padding-bottom: .3125rem;
  width: 15%;
}

#ministries h3,
#events h3 {
  font-size: 1.375rem;
  text-align: center;
}

#ministries p,
#events p {
  color: #8a8a8a;
  font-size: .75rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: .1rem;
}

#events a {
  color: #fff;
  text-decoration: none;
}

.btn {
  width: 12.5rem;
  margin: auto;
  border: .25rem solid #454242;
  padding: .3125rem;
  text-align: center;
}

.btn a {
  color: #454242;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

/* --- University --- */
#university {
  background-image: url('../img/edu-sm.jpg');
  padding-top: 3.125rem;
}

#university p {
  font-size: .75rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 2em;
}

.btn-uni {
  width: 12.5rem;
  margin: auto;
  border: .25rem solid #fff;
  padding: .3125rem;
  text-align: center;
}

.btn-uni a {
  color: #fff;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

/* --- Events --- */
#events {
  padding-bottom: 1.5625rem;
}

.f-distribution,
.baptism {
  position: relative;
  text-align: center;
  color: #fff;
}

.centered {
  border: .25rem solid #fff;
  padding: .625rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: .075rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- Contact --- */
#keep-touch {
  text-align: center;
}

#keep-touch p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

form {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.5625rem;
}

label {
  display: block;
  text-align: left;
}

input {
  color: #454242;
  font-size: 1em;
  width: 100%;
  padding: 1.25rem;
  margin: .3125rem 0;
  height: auto;
  outline: none;
  border: .125rem solid #454242;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.s-btn {
  color: #fff;
  border: none;
  background: #454242;
  text-transform: uppercase;
  cursor: pointer;
}

/* --- Main Footer --- */

footer {
  color: #fff;
  text-align: center;
  background-color: #454242;
  padding: 1.5625rem 0;
}

footer .contact li {
  font-size: 1.25rem;
  margin: .9375rem 0;
  font-weight: 700;
}

footer .contact li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

footer .more {
  display: inline-flex;
  font-weight: 700;
  margin-top: 2.5rem;
}

footer .more a {
  color: #fff;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border: .25rem solid #fff;
  margin: 0 .3125rem;
  padding: .3125rem 3.125rem;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  margin-top: 3.125rem;
}

.facebook {
  background: url('../img/fb.png');
}

/* --- Container --- */
.container {
  width: 90%;
  margin: auto;
}

/* --- Parallax --- */
.parallax {
  height: 200px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- Parallax Content --- */
.par-desc {
  width: 100%;
  font-size: 3.125rem;
}

/* --- Mobile --- */
@media screen and (max-width:767px) {
  /* --- Burger Nav --- */
  .burger-nav {
    display: block;
    height: 2.5rem;
    width: 100%;
    background: url('../img/menu.svg') no-repeat 98% center;
    cursor: pointer;
  }

  header .container {
    width: 100%;
    padding: 0;
  }

  header nav ul {
    overflow: hidden;
    background: #ebebeb;
    height: 0;
  }

  header nav ul.open {
    height: auto;
  }

  header nav ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  header nav ul li a {
    color: #454242;
    padding: .625rem !important;
    border-bottom: .0625rem solid #d8d6d6;
    display: block !important;
    margin: 0;
  }

  .hidden {
    display: none;
  }
}

/* --- Media Quary --- */
@media (min-width: 768px) {
  /* --- Main Header --- */

  .logo {
    margin: 0;
    padding: 0;
  }

  .logo img {
    width: 100%;
  }

#main-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 20vh;
  z-index: 1;
  box-shadow: 0 .0625rem .1875rem rgba(0,0,0, .2);
}

#main-header .logo {
  width: 9.375rem;
  margin: 1.26rem;
  float: left;
}

.main-nav {
  float: right;
}

.main-nav li {
  float: left;
  margin-top: 1.7rem;
}

.main-nav a {
  color: #454242;
  font-family: 'Lato', sans-serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  letter-spacing: .09375rem;
}

/* --- Jumbotron --- */
#jumbotron {
  height: 100vh;
  background: url('../img/IMG_0273.JPG') no-repeat center;
  background-size: cover;
}

.tagline {
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 20%;
  left: 15%;
}

.tagline p {
  font-size: 1.6666666666666665vw;
  margin-bottom: 2.5rem;
}

.tagline h1 {
  font-size: 5vw;
}

.tagline a {
  color: #fff;
  font-size: 1.6666666666666665vw;
  text-decoration: none;
  border: .25rem solid #fff;
  padding: .625rem;
}

/* --- Intro --- */

#intro {
  padding: 6.25rem;
  max-width: 75%;
  margin: 0 auto;
}

#intro h2 {
  font-size: 3.263888888888889vw;
}

#intro p {
  color: #898989;
  font-family: 'Lato', sans-serif;
  font-size: 1.3888888888888888vw;
  font-weight: 300;
  letter-spacing: .1;
  line-height: 1.875rem;
}

/* --- About Us --- */
#about-us,
#university {
  color: #fff;
  text-align: center;
  height: 60vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about-us {
  background-image: url('../img/praise-sm.jpg');
  background-position: 50% 50%;
}

#about-us h1 {
  font-size: 6.944444444444445vw;
}

.par-desc {
  width: 100%;
  font-size: 6.944444444444445vw;
}

.a-btn {
  border: .25rem solid #fff;
  padding: .9375rem .3125rem;
  margin: 0 .125rem;
  display: inline-block;
  max-width: 30%;
  margin-top: 15px;
}

.a-btn a {
  color: #fff;
  font-size: 1.3888888888888888vw;
  font-weight: 900;
  letter-spacing: .075rem;
  text-transform: uppercase;
  text-decoration: none;
}


/* --- Ministries --- */
#ministries h2 {
  font-size: 5.555555555555555vw;
}

#ministries h3 {
  font-size: 1.6666666666666665vw;
}

#ministries h3,
#ministries p {
  text-align: left;
}

#ministries p {
  font-size: 0.9027777777777778vw;
}

.c-ministries {
  width: 100%;
}

.m-top {
  margin-top: -1.25rem;
}

.k-pad {
  padding-left: .9375rem;
}

.min-desc {
  vertical-align: top;
  width: 50%;
}

.btn {
  width: 20%;
  border: .3125rem solid #454242;
  padding: .625rem 0;
  margin-top: .625rem;
}

.btn a {
  color: #454242;
  font-family: 'Lato', sans-serif;
  font-size: 1.6666666666666665vw;
  font-weight: 900;
  text-decoration: none;
}

.min-pic-w {
  width: 49.3%;
}

.inln {
  display: inline-block;
}

.b-pad {
  margin-bottom: 3.125rem;
}

.hidden {
  display: contents;
}

/* --- Events --- */
#events {
  text-align: center;
}

#events h2 {
  font-size: 5.555555555555555vw;
}

#events img {
  width: 28.75rem;
}

#events a {
  color: #fff;
  text-decoration: none;
}

.f-distribution,
.baptism {
  display: inline-block;
  margin: 0 .625rem;
}

#university {
  background-image: url('../img/edu-sm.jpg');
  background-position: 100% 10%;
}

#university p {
  font-size: 1.6666666666666665vw;
}

.btn-uni {
  width: 12.5rem;
  margin: auto;
  border: .3125rem solid #fff;
  padding: .625rem 0;
  text-align: center;
}

.btn-uni a {
  color: #fff;
  font-size: 1.3888888888888888vw;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

/* --- Contact --- */
#keep-touch {
  text-align: center;
}

#keep-touch h2 {
  text-align: center;
  font-size: 5.555555555555555vw;
}

#keep-touch p {
  font-size: 1.6666666666666665vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 9.375rem;
}

form {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.5625rem;
}

label {
  display: block;
  text-align: left;
  padding: 0 18.125rem;
}

input {
  color: #454242;
  font-size: 1.1111111111111112vw;
  width: 50%;
  padding: 1.25rem;
  margin: .3125rem 0;
  height: auto;
  outline: none;
  border: .125rem solid #454242;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.s-btn {
  color: #fff;
  border: none;
  background: #454242;
  text-transform: uppercase;
}

/* --- Footer --- */
footer {
  color: #fff;
  text-align: center;
  background-color: #454242;
  padding: 1.5625rem 0;
  height: 250px;
}

footer .contact {
  border-bottom: .25rem solid #fff;
  width: 60%;
  margin: auto;
}

footer .contact li {
  display: inline-flex;
  font-size: 1.3888888888888888vw;
  margin: .9375rem .625rem;
  font-weight: 700;
}

footer .contact li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

footer .more {
  display: inline-flex;
  font-weight: 700;
  margin-top: 2.5rem;
}

footer .more a {
  color: #fff;
  font-size: 1.3888888888888888vw;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border: .25rem solid #fff;
  margin: 0 .3125rem;
  padding: .3125rem 3.125rem;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8333333333333333vw;
  margin-top: 3.125rem;
}

.facebook {
  background: url('../img/fb.png');
}

/* --- Container --- */
.container {
  width: 90%;
  margin: auto;
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}
}
