* {
  box-sizing: border-box;
}

body {
  color: #454242;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5625rem;
  margin: 0;
  padding: 0;
}

/* --- Main Header ---- */
.logo {
  width: 30%;
  padding-top: 5px;
  margin: auto;
}

.main-nav li,
.main-nav a {
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-nav a {
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

/* --- About --- */
#about-jumbotron {
  height: 360px;
  background: url('../img/ya3-sm.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  z-index: -1;
}

#about-jumbotron h1 {
  font-size: 4rem;
  color: #fff;
  padding-top: 100px;
}

/* --- Children's Ministries --- */

#c-ministry {
  margin-bottom: 100px;
}

#c-ministry h3 {
  color: maroon;
  font-size: 50px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

#c-ministry p,
#more-info p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

#more-info {
  margin: 100px 0;
}


/* --- Main Footer --- */

footer {
  color: #fff;
  text-align: center;
  background-color: #454242;
  padding: 25px 0;
}

footer .contact li {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 700;
}

footer .contact li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

footer .more {
  display: inline-flex;
  font-weight: 700;
  margin-top: 40px;
}

footer .more a {
  color: #fff;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border: 4px solid #fff;
  margin: 0 5px;
  padding: 5px 50px;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 50px;
}

.facebook {
  background: url('../img/fb.png');
}

/* --- Container --- */
.container {
  width: 90%;
  margin: auto;
}

/* --- Clearfix --- */

.cf::after {
  content: "";
  display: table;
  clear: both;
}

/* --- Mobile --- */
@media screen and (max-width:767px) {
  /* --- Burger Nav --- */
  .burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url('../img/menu.svg') no-repeat 98% center;
    cursor: pointer;
  }

  header .container {
    width: 100%;
    padding: 0;
  }

  header nav ul {
    overflow: hidden;
    background: #ebebeb;
    height: 0;
  }

  header nav ul.open {
    height: auto;
  }

  header nav ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  header nav ul li a {
    color: #454242;
    padding: 10px !important;
    border-bottom: 1px solid #d8d6d6;
    display: block !important;
    margin: 0;
  }

  /* --- About Nav --- */
    .abt-nav {
      display: none;
    }

  /* --- Ministries --- */
  .hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  /* --- Main Header --- */
  .logo {
    margin: 0;
    padding: 0;
  }

  #main-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 125px;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0, .2);
  }

  #main-header .logo {
    width: 150px;
    margin: 20px;
    float: left;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    float: left;
    margin-top: 40px;
  }

  .main-nav a {
    color: #454242;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  /* --- About --- */
  #about-jumbotron {
    height: 600px;
    background: url('../img/ya3.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    z-index: -1;
  }

  #about-jumbotron h1 {
    padding-top: 275px;
  }

  /* --- About Nav --- */
  .abt-nav {
    text-align: center;
    background: #fff;
    height: 47px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    margin-top: 120px;
    padding: 12px 0;
    box-shadow:  0 4px 5px -4px rgba(0,0,0,.1);
  }

  .abt-nav ul li {
    display: inline-flex;
  }

  .abt-nav ul li a {
    color: #838383;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 3px;
  }

  /* --- Children's Ministry --- */
  #c-ministry {
    width: 60%;
    margin: auto;
  }

  #more-info p {
    width: 60%;
    margin: auto;
  }

  /* --- Children Pictures --- */

  .child-pic-l,
  .child-pic-r {
    width: 49.7%;
    display: inline-block;
  }

  .child-pic {
    margin-top: 100px;
  }

  /* --- Footer --- */
  footer {
    color: #fff;
    text-align: center;
    background-color: #454242;
    padding: 25px 0;
  }

  footer .contact {
    border-bottom: 4px solid #fff;
    width: 60%;
    margin: auto;
  }

  footer .contact li {
    display: inline-flex;
    font-size: 20px;
    margin: 15px 10px;
    font-weight: 700;
  }

  footer .contact li a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }

  footer .more {
    display: inline-flex;
    font-weight: 700;
    margin-top: 40px;
  }

  footer .more a {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 4px solid #fff;
    margin: 0 5px;
    padding: 5px 50px;
  }

  .copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 50px;
  }

  .facebook {
    background: url('../img/fb.png');
  }
}
